* {
    background-image: url(../img/bg.png);
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    list-style: none;
    text-decoration: none;
  }
  
  body {
    overflow-x: hidden;
  }
  
  h2
 {
    font-weight: 600;
    font-size: 16px;
  }
  
  p {
    font-size: 16px;
    font-weight: 400;
  }

  .primario {
    padding: 12px 24px;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: inline-block;
  }
  .primario a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
  }
  .primario:hover {
    background-color: #f0f0f0;
  }
  .primario:hover a {
    background-color: #f0f0f0;
  }




.hero {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

.hero img {
    width: 35%;
    background: none;
}

.ceremonia {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: none;
}

.ceremonia img {
    width: 30%;
    background: none;
    margin-bottom: 20px;
}

.ceremonia h2 {
    margin-bottom: 12px;
}

.rsvp {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background: none;
}

.rsvp img {
    width: 40%;
    padding-bottom: 20px;
    background: none;
}

.rsvp p {
    padding-bottom: 20px;
    background: none;
    width: 30%;
    text-align: center;
}

.muchasfotos {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 60px;
    background: none;
}

.muchasfotos img {
    width: 60%;
    margin-top: 150px;

}

.regalo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background: none;
}

.regalo img {
    width: 10%;
    background: none;
}

.regalo h2 {
    margin-bottom: 40px;
    width: 30%;
    text-align: center;
}

.regalo .cuenta {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    background: none;
}

.regalo .cuenta p{
    justify-content: center;
    align-items: center;
    text-align: center;
    background: none;
    margin-bottom: 0px;
    width: 100%;
    text-wrap: none;
}

.teesperamos {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background: none;
}

.teesperamos img {
    width: 30%;
    background: none;
}

.foto {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100;
    background: none;
}

.foto img {
    width: 30%;
    background: none;
}

.gracias{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100;
    background: none;
}


@media (max-width: 1100px) {

.hero img {
    width: 70%;
}

.ceremonia {
    height: 40%;
}

.ceremonia img {
    width: 45%;
    background: none;
}

.rsvp img {
    width: 90%;
}

.rsvp p {
    width: 80%;
    text-align: center;
    margin-bottom: 16px;
}

.muchasfotos img {
    width: 90%;
    margin-top: 10px;

}

.regalo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    background: none;
}

.regalo img {
    width: 20%;
    background: none;
}

.regalo h2 {
    margin-bottom: 40px;
    width: 70%;
    text-align: center;
}

.regalo .cuenta {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    background: none;
}


.regalo .cuenta p{
    justify-content: center;
    align-items: center;
    text-align: center;
    background: none;
    margin-bottom: 0px;
}

.teesperamos {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background: none;
    padding-left: 8px;
    padding-right: 8px;
}

.teesperamos img {
    width: 50%;
    background: none;
}

.foto {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 60px;
    background: none;
}

.foto img {
    width: 80%;
    background: none;
}

.gracias{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 100;
    background: none;
}
}